# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Env
!.env.example

# Node
node_modules/
miniapp/frontend/build/

# DB и данные
*.db
*.db-shm
*.db-wal
videos/

# IDE
.idea/
.vscode/
*.swp
